@model Website_14042017.Areas.Admin.Models.ModelNews
@{
    ViewBag.Title = "Tin tức - ";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<div class="row">
    <div style="width:100%; height:auto;">
        @{
            if (Model != null)
            {
                <div class="row">
                    <div class="col-lg-offset-0 col-lg-12">Thời gian đăng: # bởi @Model.Author</div>
                </div>
                <hr />
                <div>
                    <div class="row">
                        <h2 class="col-lg-12 text-center"><strong>@Model.Title</strong></h2>
                    </div>
                    <div class="row">
                        <h3 class="col-lg-12 text-center">@Model.Descrip</h3><br />
                    </div>
                    @Html.Raw(Model.Content)
                </div>
            }
        }
    </div>
</div>