@model Website_14042017.ModelViews.NewsView
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Template.cshtml";
}
<div class="row" style="padding: 30px 20px">
    <div style="width:100%; height:auto;">
        @{
            if (Model != null)
            {
                @Html.Raw(Model.Content)
            }
        }
    </div>
</div>