@model Website_14042017.ModelViews.NewsView
@{
    Layout = "~/Views/Shared/_Template.cshtml";
    ViewBag.Title = "Thông tin vật tư in lưới";
}
@*<<<<<<< HEAD
<div class="row" ng-app="" ng-controller="minhthang">
    <span>{{username}}</span>
</div>
=======
>>>>>>> 7429b6df94e5ddfb95ab8459f57aa643932fd941*@
<script>
    function minhthang($scope) {
        $scope.username = 'Minh Thawngs';
    }
</script>

<!--Slider-->

<div class="row" style="padding: 30px 20px">
    <div style="width:100%; height:auto;">
        @{
            if (Model != null)
            {
                <div class="row">
                    <h2 class="col-lg-12 text-center"><strong>@Model.Title</strong></h2>
                </div>
                <div class="row">
                    <h3 class="col-lg-12 text-center">@Model.Descrip</h3><br />
                </div>
                @Html.Raw(Model.Content)
            }
        }
    </div>
</div>
<hr />
<div id="viewproex">
    <div class="row" id="lstpr1">
    </div>
    <div class="row" id="lstpr2">
    </div>
</div>
@section ScriptUser{
    <script>
        $.ajax({
            url: '/product/GetTop',
            type: 'GET',
            dataType: 'Json',
            success: function (data) {
                var con = "";
                $(data).each(function (i, val) {
                    if (i <= 2) {
                        con += "<div class='col-sm-6 col-md-4'>"
                            + "<div class='thumbnail'>"
                            + "<img src='" + val.Image + "' alt='...' width='100' height='100'>"
                            + "<div class='caption' style='margin: auto; top: 0; bottom: 0; left: 0; right: 0; text-align: center;'>"
                            + "<h4>" + val.Name + "</h4>"
                            + "<p><a href='/product/productdetails?name=" + val.Name + "' class='btn btn-primary' role='button' style='background:rgba(9, 70, 215, 0.45);text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black'>Xem chi tiết</a></p>"
                            + "</div>"
                            + "</div>"
                            + "</div>";
                    }
                });
                $("#lstpr1").html(con);
                con = "";
                $(data).each(function (i, val) {
                    if (i > 2) {
                        con += "<div class='col-sm-6 col-md-4'>"
                            + "<div class='thumbnail'>"
                            + "<img src='" + val.Image + "' alt='...' width='100' height='100'>"
                            + "<div class='caption' style='margin: auto; top: 0; bottom: 0; left: 0; right: 0; text-align: center;'>"
                            + "<h4>" + val.Name + "</h4>"
                            + "<p><a href='/product/productdetails?name=" + val.Name + "' class='btn btn-primary' role='button' style='background:rgba(9, 70, 215, 0.45);text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black'>Xem chi tiết</a></p>"
                            + "</div>"
                            + "</div>"
                            + "</div>";
                    }
                });
                $("#lstpr2").html(con);
            },
            error: function (error) {
            }
        });
    </script>
}