
@{
    ViewBag.Title = "HotLine";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
}

<h2>HotLine</h2>
@using (Html.BeginForm("Index", "HotLine", FormMethod.Post))
{
    <div class="form-group">
        <input type="text" name="hotline" class="control col-md-offset-0 col-md-6" value="@ViewBag.HotLine" />
        <div class="col-md-6">
            <input type="submit" value="Cập nhật" class="btn btn-default" />
        </div>
    </div>
}